* {
    outline: 3.33px solid #b00;
}

*, ::before, ::after {
    box-sizing: inherit;
    --PriCol: #f80;
    --PriShad: #a30;
    --SeCol: #fed;
    --SeShad: #876;
    --HiCol: #0aa;
    --HiShad: #055;
    --DaGrey: #333;
    --DeVil: #666;
    --MeGrey: #999;
    --Ligrey: #ccc;
}

html {
    box-sizing: border-box;
}

body {
    background-color: var(--PriCol);
}

section {
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 0% auto;
    margin-top: 3rem;
}

ul {
    list-style: none;
    padding: .5rem;
    margin: .5rem;
}

li {background-color: var(--PriCol);
    color: var(--DaGre);
    display: inline-block;
    width: 10%;
    padding: .5rem;
    margin: 0 .1rem;
    border-top: 5px groove var(--);
    border-radius: 30px;
    box-shadow: 3px 3px 33px var(--DeVil);
}

img, iframe {
    border: 
}

label {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: .25rem;
}

input {
    border: 5px groove #0aa;
    border-radius: 30px; 
    margin: .25rem 1.5rem;
    padding: .5rem;
    margin: 1rem;
}

input[type="email"], input[type="text"] {
    width: 50%;
}

input[type=submit] {
    width: 20%;
}

.container {
    position: relative;
    height: fit-content;
    width: 80%;
    background-color: var(--SeCol);
    color: #333;
    margin: 0% auto;
    text-shadow: 1px 1px #0aa;
    padding: .5rem;
    text-align: center;
    border: .5rem groove #0aa;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #543;
}

.matilda {
    background: url(../images/champeenBackground.jpeg) no-repeat 50% 50%;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    width: 70%;
    background-color: #8a8a8a;
    font-size: 1.5rem;
    color: #fed;
    padding: 0;
}

.matilda h6,
.matilda h5,
.matilda h4,
.matilda h3,
.matilda h2,
.matilda h1 {
    font-size: 2.18rem;
    background-color: rgba(0,0,0,.5);
    padding: 0;
    margin: 0;
}

/* .matilda h1, h2, h3 {
    margin: 4rem auto;
} */

.flex {
    display: flex;
    flex-wrap: wrap;
}

#navbar {
    position: sticky;
    top: 0;
    z-index: 3;
}

#about {
    margin-top: 0;
}

#end {
    width: fit-content;
    background-color: #333;
    color: #fed;
    margin: -2.5rem auto;
    padding: 0;
}

#end p {
    margin: .1rem .666rem;
}